extends layout

block layout-content
    div.View
        h1.Banner WHATABYTE
        div.Message 
            div.Title 
                h3 Making the Best
                h1 Food for Devs
            span.Details Access the WHATABYTE team portal
        div.Navbuttons
            a(href="/user")
                div.NavButton Just dive in!