extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner
      a(href="/") JOHN PETERSON
      div.NavButtons
        a(href="/ping")
          div.NavButton Ping Project
        a(href="/catalog")
          div.NavButton Catalog Project
    div.Message
      div.Title
        h3 Ping Project
        h1 Food For Devs
      div.NavButtons.MessageButton
        a(href="/ping")
          div.NavButton Ping Project
      span.Details Access the WHATABYTE Team Portal
    div.Message
      div.Title
        h3 Making the Best
        h1 Food For Devs
      span.Details Access the WHATA