extends layout

block layout-content
    div.View.UserView
        h1.Banner Hello, #{userProfile.database}
        div.Message
            div.Title
                h3 Making us the best
                h1 Teammate profile
            pre.Details=JSON.stringify(userProfile, null, 2)

