extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner
      a(href="/") JOHN PETERSON
      div.NavButtons
        a(href="/ping")
          div.NavButton Ping Project
        a(href="/catalog")
          div.NavButton Catalog Project
    div.Message
      div.Title
        h3 By John Peterson
        h1 Ping Project
      div.NavButtons.MessageButton
        a(href="/ping")
          div.NavButton Ping Project
      span.Details 
        a(href="https://github.com/johndpete316/ping-analytics") github.com/johndpete316/ping-analytics
    div.Message
      div.Title
        h3 By John Peterson
        h1 Library Catalog
      span.Details Access the WHATA