extends layout

block layout-content
    div.View.UserView
        h1.Banner #{title}
            div.NavButtons
                a(href="/ping")
                    div.NavButton Ping Project
                a(href="/high-ping")
                    div.NavButton High Ping
        div.Message
            div.Title
                h3 Making us the best
                h1 Teammate profile
            pre.Details=JSON.stringify(userProfile, null, 2)
        div.NavButtons
            a(href="/low-ping")
                div.NavButton Refresh