@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



:root {
  --logo-font: "Share Tech Mono", monospace;
  --header-font: "Raleway", sans-serif;
  --core-font: 'Lato', sans-serif;

  --primary: #ffffff;
  --secondary: #2a3747;

  --highlight: #278cff;
  --highlight-hover: #439bff;

  --ui-shawdow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  fill: rgba(0, 0, 0, 0.54);
  --ui-shawdow-border: 1px solid rgba(0, 0, 0, 0.14);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,
h2,
h3 {
  font-family: var(--header-font);
  text-transform: uppercase;

  padding: 0;
  margin: 0;

  color: var(--secondary);
}

h1 {
  font-size: 40px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

#root {
  display: flex;
  flex-direction: column;
}

.View {
  flex: 3;
  display: inline-blocks;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 100%;

  padding: 20px;
  padding-left: 15%;

  background-size: cover;

  font-family: var(--core-font);
}

.Banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 80%;

  overflow: hidden;
  background: white;
  padding: 15px;

  font-family: var(--logo-font);

  border-bottom: var(--ui-shawdow-border);
  box-shadow: var(--ui-shawdow);
}

.Message {
  width: 80%;
  background: white;
  padding: 30px;
  border-bottom: var(--ui-shawdow-border);
  box-shadow: var(--ui-shawdow);
}

.Message > .Title {
  padding-bottom: 20px;
}

.Message > .Details {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}

/* links */

a:link {
  color: rgb(0, 110, 255);
}


/* mouse over link */
a:hover {
  color: rgb(51, 139, 255);
}

/* selected link */

/* table */

.DataTable {
  table-layout:fixed;
  width: 100%;
  border: 1;
}

.Red {
  background-color: rgba(255, 0, 0, 0.472);
}

.Yellow {
  background-color: rgba(255, 217, 0, 0.787);
}

.Green {
  background-color: yellowgreen;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid rgba(221, 221, 221, 0.924);
}

tr {
  transition: background-color .5s, font-weight .2s;
}

tr:hover {
  background-color: rgb(236, 236, 236);
  font-weight: bold;
}

tr.Yellow:hover {
  background-color: rgba(243, 214, 85, 0.616);
}

tr.Red:hover {
  background-color: rgba(243, 85, 85, 0.616);
}

tr.Green:hover {
  background-color: rgb(189, 235, 98);
}


.NavButtons {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: flex-end;
  margin: 1%;
  padding: 0 20px;
}

input {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: auto;
  color: inherit;
  background-color: inherit;
  font-weight: inherit;
  margin-top: 3%;
}

.NavButton:hover {
    box-shadow: 0px 0px;
    font-weight: lighter;
    background: var(--highlight-hover);
}

.MessageButton {
  padding-top: 2%;
  padding-right: 25%;
}

.NavButton {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 55px;
  width: 150px;
  margin: 10%;

  background: var(--highlight);

  border-radius: 30px;

  font-size: 16px;
  font-weight: bolder;
  color: white;

  text-transform: capitalize;
  box-shadow: 1px 1px #8b9095;
  border-bottom: var(--ui-shawdow-border);
}

.WelcomeView {
    background: url("gradient-1.png") left bottom;
    background-size: cover;
}

.UserView {
    background: url("gradient-1.png") left bottom;
    background-size: cover;
}




@media screen and (max-width:800px) {
  
  .RemoveOnMobile {
    display: none;
  }
  
  .View {
    padding: 0px;
    padding-left: 0%;
  }

  .Banner {
    width: auto;
  }
  
  .Message {
    width: auto;
  }
  
  .MessageButton {
    width: 20%;
  }
  
  .NavButtons {
    width: auto;
    display: inline;
    margin: auto;
  }

  .DataTable {
    width: 100%;
    border: 1;
  }
  
  th, td {
    padding: 1%;
    text-align: left;
  }

  input {

  }
}